body {
    font-family: 'Arial', sans-serif;
    background:linear-gradient(rgb(167, 221, 227), rgb(204, 232, 138));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    padding: 40px;
    border: 1px solid rgb(80, 76, 76);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 340px;
}

.login-container h2 {
    color: #333333;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 30px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    color: #555555;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.submit-btn {
    background: linear-gradient(135deg, #0088cc, #005b8c);
    color: #ffffff;
    padding: 14px 28px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #005b8c, #003d5f);
}

.link {
    color: #005b8c;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
}

.link:hover {
    text-decoration: underline;
}

.logout {
    position: absolute;
    text-decoration: none;
    top: 30px;
    right: 30px;
    color: #777777;
    font-size: 14px;
}
